.main-title {
    color: #ffffff;
    font-size: 34px;
    box-shadow: rgba(0, 0, 0, 0.16) 4px;
}
.description-text {
    color:#737373;
    font-size: 16px;
    text-align: left;
}
.version-subtext-text {
    color: rgba(242, 242, 242, 0.7);
    font-size: 17px;
}
.target-radio-button:hover {
    background-color: #ffffff;
}
.target-radio-button:enabled {
    background-color: rgb(0, 255, 0);
}
.target-radio-button:disabled {
    background-color: #000000;
}
.scale-text {
    text-align: center;
    vertical-align: center;

    color: #000000;

    background-color: rgb(255, 255, 255);
}
.main-window {
    border-radius: 10px;
    background-color: #ffffff;
}