.background-blur-label {
    background-color: rgba(0, 0, 0, 0.29);
    radius: 30px;
}

.title-backgruond {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0px;
    box-shadow: 6px rgba(0, 0, 0, 0.16);
}
.welcome-backgruond {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    box-shadow: 6px rgba(0, 0, 0, 0.16);
}

.welcome-ui-view {
    box-shadow: 6px rgba(0, 0, 0, 1);
}

.main-ui-view {
    box-shadow: 6px rgba(0, 0, 0, 1);
}

.title-text {
    color: #ffffff;
    font-size: 34px;
    font-weight: 900px;
    box-shadow: 6px rgba(0, 0, 0, 0.16);
}
.version-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 100px;
    box-shadow: 6px rgba(0, 0, 0, 0.16);
}

.welcome-use-text {
    color: #ffffff;
    font-weight: 100px;
    font-size: 23px;
}
.welcome-sub-text {
    color: rgba(255, 255, 255, 0.31);
    font-weight: 100px;
    font-size: 17px;
}
.test-btn {
    background-color: #ffffff;
    color: #000000;
}
.main-window {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
}