.main-widget {
    border-radius: 8px;
}

.view-blur-background {
    background-color: rgba(0, 0, 0, 0);
    radius: 50px;
    border-radius: 8px;
}

.welcome-text {
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.open-file-button {
    font-size: 14px;
    text-align: center;
    vertical-align: center;
}

.title-text {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}
.zoom-tag {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
}

.close-button:hover {
    background-color: rgba(230, 9, 9, 0.10);
    border-color: rgba(230, 9, 9, 0.10);
}
.close-button:active {
    background-color: rgba(230, 9, 9, 0.32);
    border-color: rgba(230, 9, 9, 0.32);
}