.main-widget {
    border-radius: 8px;
}

.view-blur-background {
    background-color: rgba(0, 0, 0, 0);
    radius: 50px;
    border-radius: 8px;
}

.welcome-text {
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.open-file-button {
    font-size: 14px;
    text-align: center;
    vertical-align: center;
}

.title-text {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    box-shadow: 20px;
}
.zoom-tag {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    box-shadow: 20px;
}

.zoomdown-button {
    box-shadow: 20px;
}
.zoom-up-button {
    box-shadow: 20px;
}
.one-to-one-button {
    box-shadow: 20px;
}

.close-button:hover {
    background-color: rgba(230, 9, 9, 0.10);
    border-color: rgba(230, 9, 9, 0.10);
}
.close-button:active {
    background-color: rgba(230, 9, 9, 0.32);
    border-color: rgba(230, 9, 9, 0.32);
}

.viewing-image {
    box-shadow: 8px, rgba(0, 0, 0, 0.1);
}

.minisize-button {
    box-shadow: 20px;
}
.maxsize-button {
    box-shadow: 20px;
}
.close-button {
    box-shadow: 20px;
}