.logo-text {
    font-family: "Microsoft YaHei UI";
    color: #ffffff;
    font-weight: 200px;
    font-size: 48px;
}
.date-text {
    font-family: "MiSans";
    color: #000000;
    font-size: 16px;
    font-weight: 400px;
    vertical-align: center;
}